.sidebar{
    width: 60px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0) scale(1);
    -webkit-transition: width .3s ease;
    z-index: 1000;
    border-right: var(--light-border);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0; 
}
.sidebar:hover{
    width: 200px;
    -webkit-transform: translateZ(0) scale(1);
    -webkit-transition: width .3s ease;
}

.sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }

  .menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .menu-item:hover {
    background-color: var(--light-primary-color-bg);
    color: var(--zen-primary-color);
    border-radius: 5px;
    .icon-s{
      color: var(--zen-primary-color);
    }
    .text {
      color: var(--zen-primary-color);
    }
  }
  
  .icon-s {
    font-size: 18px;
    color: var(--icon-color);
    transition: transform 0.3s ease;
  }
  
  .text {
    font-size: 1rem;
    color: var(--icon-color);
    font-weight: 500;
    margin-left: 1rem;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .sidebar:hover .text {
    opacity: 1;
    transform: translateX(0);
  }
  
  .menu-item .text {
    transform: translateX(-10px);
  }
  
  /* Align icons and text horizontally centered in expanded state */
  .sidebar:hover .menu-item {
    justify-content: start;
  }
  
  .logo-zen{
    height: 40px;
    width: 40px;
  }
  
  .menu-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    .text{
      color: var(--zen-primary-color);
    }
  }