.navbar{
    height: 80px;
    border-bottom: var(--light-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-text{
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--zen-primary-color);
}

.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 15px;
}

.profile-name{
    color: var(--text-black);
    margin: 0;
}

.profile-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}