:root {
  --main-font: 'Poppins', sans-serif;
  /* --main-font: 'Wanted Sans Variable', sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin !important;
  scrollbar-color: #c9b7e8 #f7f5fc !important;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
}