.primary-button-large{
    background-color: var(--zen-primary-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    font-size: 14px;
    border: 1px solid var(--zen-primary-color);
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
}
.border-button{
    background-color: white;
    color: var(--zen-primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid var(--zen-primary-color);
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 0;
}
.icon-color-light{
    color: var(--light-primary-color) !important;
}
.icon-color-primary{
    color: var(--zen-primary-color) !important;
}


.input-group-text{
    background-color: var(--light-primary-color-bg) !important;
}
/* .form-control:focus{
    border-color: var(--zen-primary-color) !important;
    box-shadow: none !important;
} */
.top-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0efff;
}

.vertical-line{
    border-right: var(--light-border);
}
.zen-primary-text{
    color: var(--zen-primary-color) !important;
}
.sub-heading{
    font-size: 16px;
    font-weight: 600;
    color: var(--zen-primary-color);
}
.common-label{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black);
}

.common-input{
    border: var(--light-border);
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black);
}

.common-input:focus{
    border-color: var(--zen-primary-color) !important;
    box-shadow: none !important;
}

/* time picker */
.p-inputtext{
    border: var(--light-border) !important;
    border-radius: 8px !important;
    padding: 10px 12px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: var(--text-black) !important;
}

.p-inputtext:focus{
    border-color: var(--zen-primary-color) !important;
    box-shadow: none !important;
}
/* time picker */


.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:focus-visible {
    background-color: white !important;
    color: var(--zen-primary-color) !important;
    border-color: 2px solid var(--zen-primary-color) !important;
    box-shadow: none !important;
}

/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
} */

