:root{
    --zen-primary-color: #4b0dba;

    --light-primary-color: #b182ff;
    --light-primary-color-bg: #f7f5fc;


    --light-border: 1px solid #cacacc;

    --text-gray: #4c4d4d;
    --text-gray-light: #7e8e9f;
    --text-black: #555a8f;
    --text-dark: #232323;
    --icon-color: #838282;
}